body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(../img/tausta.png);
  background-size: 20em;
}


.content {
    background-color: #B0CE88;
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    box-shadow: inset 0px 0px 5px 1px #4C763B;
    min-height: 72vh;
    text-align: center;
}

.content h1 {
  font-size: 30px;
}
.content p {
  font-size: 20px;
}

.content img {
  max-width: 120px;
  height: auto;

  display: block;
  margin: 0 auto;
}

.content a {
  display: inline-block;
  width: fit-content;
  margin: 0 auto;
  transition: 0.2s ease;
}

.content a:hover {
  scale: 1.1;
}

