body {
  background-image: url(../img/tausta.png);
  background-size: 20em;
}
canvas {
  display: block;
  margin: 0 auto;
  padding: 0px;
  border: 1px solid black;
  background-image: url(../sPeli/gameBackground.png);
  background-size: cover;
}
